<!DOCTYPE html>
<html>
<title>Narrate</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("temp/1.jpg");
    min-height: 100%;
}
.bgimg-2 {
    background-position: center;
    background-size: cover;
    background-image: url("temp/8.jpeg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>
<body>

<!-- Navbar (sit on top)-->

<!-- <div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#" class="w3-bar-item w3-button w3-wide">TTN</a>
    <!-- Right-sided navbar links -->
  <!--   <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      
      
      
      <a href="#contact" class="w3-bar-item w3-button">Demo</a>
    </div>
    Hide right-floated links on small screens and replace them with a menu icon

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div> -->

<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Text To Narrate</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Text To Narrate</span><br>
    <span class="w3-large">Turn your text into Videos</span>
    <p><a href="#contact" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Try it</a></p>
  </div> 
  
</header>

<!-- About Section -->

<!-- Promo Section - "We know design" -->





<!-- Contact Section -->
<div class="bgimg-2 w3-display-container w3-grayscale-min" style="padding:128px 16px" id="contact">
  <h1 class="w3-center">TEXT TO NARRATE</h1>
  <div class="w3-row-padding" style="margin-top:64px">
    
      <div class = "w3-center">
      <tr id="content" style="text-align:center">
      <td>
      <form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Play</button>
</form>

      </td>
    </tr>
    </div>
    </div>
  </div>      
<!-- Footer -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ABOUT</h3>
  <p class="w3-center w3-large">Key features</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <p class="w3-large">Get Images</p>
      <p>Images related to your Text</p>
    </div>
    <div class="w3-quarter">
      <p class="w3-large">Get Audio</p>
      <p>Narration of your Text</p>
    </div>
    <div class="w3-quarter">
      <p class="w3-large">Multilingual</p>
      <p>Narrate in language of your choice.</p>
    </div>
    <div class="w3-quarter">
      <p class="w3-large">Get Video</p>
      <p>Read your text through beautiful videos</p>
    </div>
  </div>
</div>

<footer class="w3-center w3-black w3-padding-64">
  
</footer>
 
<!-- Add Google Maps -->




</body>
</html>

























